.title-image{
    height: 400px;
}

.selected-title {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 10%;
background-color: #c0fdf0;
}

.movies {
   flex-direction: column;
   
   
}

.selected-title2 {
    margin-top: 10%;
    margin-bottom: 10%;
}
