.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
   background-color: #f47592;
}


.logo {
    height: 70px;
    object-fit: contain;
}

.linked {
    font-family: 'Limelight', cursive;
    font-size: x-large;
}


.people {
    
}
