.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
   background-color: #7db1c3;
}


.logo {
    height: 65px;
    object-fit: contain;
}




.linked {
    font-family: 'Yatra One', cursive;
    font-size: x-large; 
}

a:link { text-decoration: none; }

